*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#080808;
color:white;
font-family:Poppins,sans-serif;

}



nav{

position:fixed;
top:0;
width:100%;
padding:20px 8%;
display:flex;
justify-content:space-between;
background:#050505cc;
z-index:10;

}



.logo{

font-family:Cinzel;
font-size:35px;
color:#d4af37;

}


.logo span{

display:block;
font-size:15px;
letter-spacing:8px;

}



.menu a{

color:white;
text-decoration:none;
margin-left:30px;

}




.hero{

height:100vh;

background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.95)
),

url("barber.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

padding:10%;

}



.hero h1{

font-size:70px;

font-family:Cinzel;

color:#d4af37;

}



.hero p{

max-width:500px;

font-size:20px;

margin:25px 0;

}



.button{

background:#d4af37;

color:black;

padding:15px 35px;

border-radius:40px;

text-decoration:none;

font-weight:bold;

}



section{

padding:90px 10%;

text-align:center;

}



h2{

font-family:Cinzel;

color:#d4af37;

font-size:40px;

margin-bottom:50px;

}



.cards,
.reviews{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.card,
.reviews div{

background:#151515;

padding:35px;

border-radius:20px;

border:1px solid #333;

}



.card h3{

color:#d4af37;

}



.card b{

display:block;

margin-top:20px;

font-size:25px;

}



.about{

background:#111;

line-height:2;

font-size:20px;

}



footer{

padding:30px;

background:black;

text-align:center;

color:#777;

}



@media(max-width:700px){

.hero h1{

font-size:45px;

}

.menu{

display:none;

}

}
